//COLORES
$primary:       #65c0cc;
$secondary:     #98EECC;
$success:       #98EECC;
$info:          #D0F5BE;
$light:         #fcfcfc;
$dark:          #2e3849;

//TIPOGRAFIAS
$font-family-base: 'Lato', sans-serif;
$font-family-title: 'Playfair Display', serif;